*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
}

.loadingcontainer{
    width: 90vw;
    height: 800px;
    border-radius: 15px;
    box-shadow:  -11px -11px 22px #b3b3b3,
             11px 11px 22px #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60PX;
    background-color: #f0f0f0;
}

.loadinglogo{
    font-family: 'Aboreto', cursive;
    position: relative;
    display:flex;
    gap:40px;
    font-size: 20px;
    top: 13px;
}

.loadinglogo svg{
    position: relative;
    top: -360px;
    left: -50px;
}

.loadinglogo span{
    position: relative;
    top: -360px;
    left: -80px;
    font-size: 27px;
}

.loadingcontainer h1{
    position: relative;
    top: 340px;
    left: 130px;
    font-size: 40px;
}




.loadingsvg{
    position:absolute;
    left: 390px;
    top: 350px;
}

@media only screen and (min-width: 1200px) {
    .loadingsvg{
        position:absolute;
        left: 790px;
        top: 240px;
        width: 1000px;
    }
    
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .loadingsvg{
            position:absolute;
            left: 300px;
            top:270px;
            width: 1000px;
        }
    }
    
    @media only screen and (min-width: 468px) and (max-width: 991px) {
        .loadingsvg{
            position:absolute;
            left: 300px;
            top:270px;
            width: 1000px;
        }
    }
    
    @media only screen and (max-width: 767px) {

    }
