

.chatinput form{
    position: relative;
    left: 0px;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    background-color:#cbc8ff;
    left: 0PX;
    bottom:0px;
}



.chatinput form .sendbtn{
    position: relative;
    bottom: 43px;
    left: 228px;
    width: 0%;
    height: 47px;
    border: 1px solid #E6E6FA;
    border: 1px solid slategray;
}


.chatinput form span svg{
    position: absolute;
    top:6px;
    left: 8px;
    cursor: pointer;
}

.chatinput form span svg:active {
    transform: scale(0.90);
    transition: ease-in 0.2s;
  }

.emojipicker{
    position: absolute;
    top: 330px;
}

form .mic{
    position: relative;
    left: 125px;
    top: -38px;
}

form .mic img{
    position: absolute;
    width: 55px;
    top: 23px;
    left: -3px;
    cursor: pointer;
}

form .mic svg{
    position: absolute;
    left: 430px;
    width: 37px;
    height: 60px;
}



.chatinput form input{
    position: relative;
    bottom: -39px;
    left: -57px;
    width: 345px;
    border-radius: 24px;
    border: 1px solid #E6C6FA;
    font-size: 18px;
}

.chatinput .sendicon{
    position: relative;
    top: -3px;
    left:-17px;
    font-size: 33px;
    color: white;
}

/*
@media only screen and (min-width: 2200px) {

    .chatinput form{
    }

    .chatinput form input{
        width: 1320px;
        left: -30px;
    }

    .chatinput form .sendbtn{
        left: 690px;
    }

    .chatinput form span svg{
        left:20px ;

    }

 }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .chatinput form{
            position: relative;
            left: 0px;
            height: 60px;
            width: 100%;
            border-radius: 15px;
            border-bottom-left-radius: 0px;
            background-color:#cbc8ff;
            left: 0PX;
            bottom:712px;
        }
    }
    
    @media only screen and (min-width: 568px) and (max-width: 991px) {
        .chatinput form{
            position: relative;
            left: 0px;
            height: 60px;
            width: 100%;
            border-radius: 15px;
            border-bottom-left-radius: 0px;
            background-color:#cbc8ff;
            left: 0PX;
            bottom:712px;
        }
 
    }
    
    @media only screen and (max-width: 767px) {

    }*/

    @media only screen and (min-width: 1800px) {
        .chatinput form{
            bottom:712px;
        }
    
        .chatinput form input{
            width: 1180px;
            left: -30px;
            bottom: -37px;
        }
    
        .chatinput form .sendbtn{
            left: 670px;
            bottom: 39px;
        }
    
        .chatinput form span svg{
            left:78px ;
    
        }
        form .mic{
            position: absolute;
            left: 1255px;
            top: -16px;
        }

        form .mic img{
            position: absolute;
            width: 55px;
            top: 23px;
            left: 67px;
            cursor: pointer;
        }
        
        }
        
        @media only screen and (min-width: 992px) and (max-width: 1799px) {
            .chatinput form{
                bottom:712px;
            }
        }
        
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            .chatinput form{
                bottom:712px;
            }
        }
        
        @media only screen and (max-width: 767px) {
        
        }


