 .welcome{
    display: flex;
    flex-direction: column;
 }

 .welcome svg{
    position: absolute;
    width: 600px;
    top: -420px;
 }

 .welcome p{
    position: relative;
    top: 750px;
    left: 10px;

}

 @media only screen and (min-width: 1200px) {
    .welcome svg{
        left: 400px;
        top: 170px;
        width: 700px;
    }

    .welcome p{
        left: 340px;

    }

 }
 /*
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .welcome svg{
            left: 0px;
            top: -400px;
            width: 600px;
        }
    
        .welcome p{
            left: 180px;
            top:-1050px;
    
        }
        }
    
    
    
    @media only screen and (max-width: 167px) {
        .welcome svg{
            left: 0px;
            top: -400px;
            width: 600px;
        }
    
        .welcome p{
            left: 180px;
            top:-1050px;
    
        }
        }*/

        @media only screen and (min-width: 768px) and (max-width: 1199px) {
            .welcome svg{
                left: 320px;
                top: 170px;
                width: 600px;
            }
        
            .welcome p{
                position: absolute;
                left: 440px;
        
            }
     }