.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobileoverlay{
  display: none;
}

@media (max-width: 450px) {
  .mobileoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1199;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobilemessage{
    position: fixed;
    box-shadow:  -11px -11px 22px #cbc8ff,
             11px 11px 22px #cbc8ff;
    width: 96vw;
    background-color: #f0f0f0;
    height: 95vh;
    border-radius: 10px;
  }

  .mobilemessage .loginlogo{
    position: relative;
    left: 100px;
    top: 250px;
  }
  .mobilemessage p{
    position: relative;
    left: 80px;
    top: 260px;
    max-width: 240px;
    text-align:center
  }

}
